* {
    background-color: darkcyan;
    color: black;
}

body {
    display: block;
    margin: 10px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 45px;
    color: white;
}
 .header p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 26px;
 }

 section {
    display: block;
 }

.snippets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;  
}
article {
    display: block;
}
.card {
    border: 3px solid darkgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 350px;
    margin: 10px 5px 20px 5px;
}

article h2 {
    margin: 12px;
    position: relative;
    border: 3px solid;
    text-align: center;
    bottom: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article p {
    bottom: 20px;
    margin: 12px;
    position: relative;
}  

article pre {
    border-radius: 10px;
    margin: 10px;
    padding: 12;
    user-select: text;
    background-color: lavender;
}

pre {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    margin: 1cm 0px;
}

footer {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .column {
        width: 290px;
        margin: 10px 20px 20px 20px;
    }
}